# Processing data with Python -  Coursera

In [52]:
import pandas as pd

# Create Canned data
Canned data is hard coded within the program

Create a key:value collection of series to use to populate the dataframe for testing

In [9]:
data={'Month':pd.Series(['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']),
       'Ranifall':pd.Series([1.65,1.25,1.94, 2.75, 3.14, 3.65,5.05, 1.50, 1.33, 0.07, 0.50, 2.30])}

In [10]:
#Creating a dataframe

df=pd.DataFrame(data)
df.shape

(12, 2)

In [11]:
print(df)

   Month  Ranifall
0    Jan      1.65
1    Feb      1.25
2    Mar      1.94
3    Apr      2.75
4    May      3.14
5   June      3.65
6   July      5.05
7    Aug      1.50
8    Sep      1.33
9    Oct      0.07
10   Nov      0.50
11   Dec      2.30

Pandas Series is a single dimension array

Pandas dataframe is a two-dimensional array, like a spreadsheet.
Our df consists of 2 rows of series(months and rainfall)

In [12]:
# add another col to df
data={'Month':pd.Series(['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']),
       'Ranifall':pd.Series([1.65,1.25,1.94, 2.75, 3.14, 3.65,5.05, 1.50, 1.33, 0.07, 0.50, 2.30]),
       'Temparature':pd.Series([3,10,"",20,25,24,30,1,33,15,32,2.3])}

In [13]:
df=pd.DataFrame(data)
df.to_csv('ranifall_with_temp.csv',index=0)
df=pd.read_csv('ranifall_with_temp.csv')
df

   Month  Ranifall  Temparature
0    Jan      1.65          3.0
1    Feb      1.25         10.0
2    Mar      1.94          NaN
3    Apr      2.75         20.0
4    May      3.14         25.0
5   June      3.65         24.0
6   July      5.05         30.0
7    Aug      1.50          1.0
8    Sep      1.33         33.0
9    Oct      0.07         15.0
10   Nov      0.50         32.0
11   Dec      2.30          2.3

In [14]:
dfjson=pd.read_json('data.json')
print(dfjson)

        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
9     October       NaN          NaN
10   November     0.500         32.0
11   December     2.300          2.3

# Cleaning Data:

One of the most important tasks in processing data.

Data needs to be consistent to be reliably analyzed.

Cleaning involves parsing the data detecting 'bad' or missing data

In [16]:
#Filling null values with zero
dfj=dfjson.fillna(0)
print(dfj)

        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
9     October     0.000          0.0
10   November     0.500         32.0
11   December     2.300          2.3

In [20]:
#Removing the missing values
df_clean=dfjson.dropna()
print(df_clean)

        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
10   November     0.500         32.0
11   December     2.300          2.3

In [41]:
#Count rows which contains Null values
count=0
for index ,row in dfjson.iterrows():
    if any(row.isnull()):
        count=count+1
    
print("Number of rows with Nans: " + str(count))

Number of rows with Nans: 1

In [40]:
#create a count of all rows containg Nans
count = 0
for index, row in df_clean.iterrows():
    if any(row.isnull()):
        count = count + 1
        
print("Number of rows with Nans: " + str(count))

Number of rows with Nans: 0

In [38]:
df_clean = df_clean.sort_index()
df_clean

        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
10   November     0.500         32.0
11   December     2.300          2.3

# Statistical Analysis
Mean = the average of a set of numbers.

Median = The middle calue in a sorted set of numbers.

Standard deviation = How much each value differs from the mean. Can be used to detect outliers.

Mode = The most common value in a list of data.

Pandas easily perform these functions!

In [50]:
print("Standard deviation:")
print(df_clean.std())
print("\n")
print("Mean:")
print(df_clean.mean())
print("\n")
print("Median:")
print(df_clean.median())
print("\n")
print("Mode:")
print(df_clean.mode())

Standard deviation:
Rainfall        1.413936
Temperature    12.193553
dtype: float64


Mean:
Rainfall        2.235000
Temperature    17.754545
dtype: float64


Median:
Rainfall        1.94
Temperature    20.00
dtype: float64


Mode:
        Month  Rainfall  Temperature
0       April      2.75          1.0
1      August       NaN          2.3
2    December       NaN          3.0
3    February       NaN         10.0
4     January       NaN         15.0
5        July       NaN         20.0
6        June       NaN         24.0
7       March       NaN         25.0
8         May       NaN         30.0
9    November       NaN         32.0
10  September       NaN         33.0

C:\Users\bhava\AppData\Local\Temp\ipykernel_26340\286597788.py:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df_clean.std())
C:\Users\bhava\AppData\Local\Temp\ipykernel_26340\286597788.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df_clean.mean())
C:\Users\bhava\AppData\Local\Temp\ipykernel_26340\286597788.py:8: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df_clean.median())

In [51]:
df_clean.describe()

        Rainfall  Temperature
count  11.000000    11.000000
mean    2.235000    17.754545
std     1.413936    12.193553
min     0.500000     1.000000
25%     1.275000     6.500000
50%     1.940000    20.000000
75%     2.750000    27.500000
max     5.500000    33.000000

# Selecting Parts of a Dataframe

### Indexing
Select single columns using a column name(temperature). Returns a series.

Example: df_clean['Temperature']

Select multiple columns using column names. Must specify a list of column names.

Example: df_clean[['Temperature', 'Rainfall']]

### iloc and loc
Select a certain row number using iloc:

Example: print("Third row \n", df_clean.iloc[2])

Select a certain row using a certain value:

Example: print("\n Third row \n", dfIndexed.loc['March']);

In [63]:
print(df_clean['Temperature'])
print("\n")
print(df_clean[['Temperature', 'Rainfall']])
print("\n")
print(df_clean.iloc[1])

0      3.0
1     10.0
2     15.0
3     20.0
4     25.0
5     24.0
6     30.0
7      1.0
8     33.0
10    32.0
11     2.3
Name: Temperature, dtype: float64


    Temperature  Rainfall
0           3.0     1.650
1          10.0     1.250
2          15.0     1.940
3          20.0     2.750
4          25.0     2.750
5          24.0     3.645
6          30.0     5.500
7           1.0     1.000
8          33.0     1.300
10         32.0     0.500
11          2.3     2.300


Month          February
Rainfall           1.25
Temperature        10.0
Name: 1, dtype: object

In [75]:
index=df_clean['Month']
df_index=df_clean.set_index(index)
print(df_index.loc['February'])

Month          February
Rainfall           1.25
Temperature        10.0
Name: February, dtype: object

In [71]:
rainfall=df_clean['Rainfall'][0:3]
print(rainfall,"\n")
print("The mean of Rainfall is",rainfall.mean())

0    1.65
1    1.25
2    1.94
Name: Rainfall, dtype: float64

The mean of Rainfall is 1.6133333333333333

In [82]:
print("Temperature and Rainfall data")
df_temp_rain=df_clean[['Temperature','Rainfall']]
print("The mean of Temperature and Rainfall is \n",df_temp_rain.mean(),"\n")

Temperature and Rainfall data
The mean of Temperature and Rainfall is
 Temperature    17.754545
Rainfall        2.235000
dtype: float64